<button
  [@fadeIn]="{ value: animate === 'fade-in',  params: { delay: animationDelay } }"
  [@fadeOut]="animate === 'fade-out'"
  class="trial-item dynamic-text"
  (click)="isDesktop && !disabled && select()"
  (tap)="!isDesktop && !disabled && select()"
  onclick="blur()"
  matRipple
  [matRippleDisabled]="disabled"
  [ngClass]="{'d-none': config === undefined, 'hover-able': isDesktop}"
  [ngStyle]="{'pointer-events': config?.value ? 'all' : 'none' }"
  [style.backgroundImage]="config?.fileName"
>
  {{config?.isArbitrary ? '&nbsp;' : config?.viewValue || ''}}

</button>
