:host {
  display: block;
  height: 100%;
  width: 100%;
}

form {
  min-width: 200px;
  max-width: 360px;
  width: 100%;
}

.form-group {
  color: rgba(0, 0, 0, .54);
  font-size: 12px;
  margin-bottom: 0.5rem
}

mat-form-field {
  width: 100%;
}

mat-checkbox {
  width: 100%;
  padding-bottom: 1.34375em;
}

.form-padding-top {
  padding-top: 1.34375em;
}

.form-padding-bottom {
  padding-bottom: 1.34375em;
}
