<div class="d-flex justify-content-center align-items-center container min-vh-100 p-3">
  <mat-card>
    <mat-card-title>Study Conditions</mat-card-title>
    <mat-card-subtitle>Set the conditions and start now, or copy link to start later.</mat-card-subtitle>

    <form [formGroup]="form" class="form-group">

      <mat-form-field *ngIf="form.get('participantId') as participantIdCtrl" appearance="outline">
        <mat-label>Participant id</mat-label>
        <input autoFocus formControlName="participantId" matInput>
        <mat-error *ngIf="participantIdCtrl.hasError('required')">
          Participant id is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="participantIdCtrl.hasError('minlength')">
          Participant id must be a minimum of 3 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>I Cannot Know</mat-label>
        <mat-select formControlName="iCannotKnow" required>
          <mat-option value="With I Cannot Know">With I Cannot Know</mat-option>
          <mat-option value="Without I Cannot Know">Without I Cannot Know</mat-option>
          <mat-option value="Combined (Without ICK followed by With ICK)">Combined (Without ICK followed by With ICK)
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="form.get('maxAttempts') as maxAttemptsCtrl" appearance="outline">
        <mat-label>Max Attempts</mat-label>
        <input formControlName="maxAttempts" matInput max="100" min="1" type="number">
        <mat-error *ngIf="maxAttemptsCtrl.hasError('required')">
          Max Attempts <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="maxAttemptsCtrl.hasError('min')">
          Max Attempts must be a <strong>minimum</strong> of 1
        </mat-error>
        <mat-error *ngIf="maxAttemptsCtrl.hasError('max')">
          Max Attempts must be a <strong>maximum</strong> of 100
        </mat-error>
      </mat-form-field>

      <mat-form-field
        *ngIf="form.get('repeatBlockWhenProbeTrialWrongCountIs') as repeatBlockWhenProbeTrialWrongCountIsCtrl"
        appearance="outline"
      >
        <mat-label>Repeat Block When Probe Trials Wrong Count Is</mat-label>
        <input formControlName="repeatBlockWhenProbeTrialWrongCountIs" matInput max="12" min="1" type="number">
        <mat-error *ngIf="repeatBlockWhenProbeTrialWrongCountIsCtrl.hasError('required')">
          Repeat Block When Probe Trials Wrong Count Is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="repeatBlockWhenProbeTrialWrongCountIsCtrl.hasError('min')">
          Repeat Block When Probe Trials Wrong Count Is must be a <strong>minimum</strong> of 1
        </mat-error>
        <mat-error *ngIf="repeatBlockWhenProbeTrialWrongCountIsCtrl.hasError('max')">
          Repeat Block When Probe Trials Wrong Count Is must be a <strong>maximum</strong> of 12
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cue Type</mat-label>
        <mat-select formControlName="cueType">
          <mat-option *ngFor="let cueType of cueTypeOptions " [value]="cueType.value">
            {{cueType.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="form.get('trialTimeoutSeconds') as trialTimeoutCtrl" appearance="outline">
        <mat-label>Trial Timeout</mat-label>
        <input formControlName="trialTimeoutSeconds" matInput max="1000" min="1" type="number">
        <span matSuffix>seconds</span>
        <mat-error *ngIf="trialTimeoutCtrl.hasError('required')">
          Trial timeout is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="trialTimeoutCtrl.hasError('min')">
          Trial timeout must be a <strong>minimum</strong> of 1
        </mat-error>
        <mat-error *ngIf="trialTimeoutCtrl.hasError('max')">
          Trial timeout must be a <strong>maximum</strong> of 1000
        </mat-error>
      </mat-form-field>

      <mat-form-field
        *ngIf="form.get('trainingTrialCorrectToAdvance') as trainingTrialCorrectToAdvanceCtrl"
        appearance="outline"
      >
        <mat-label>Training Trials Correct To Advance</mat-label>
        <input formControlName="trainingTrialCorrectToAdvance" matInput max="10" min="0" type="number">
        <mat-error *ngIf="trainingTrialCorrectToAdvanceCtrl.hasError('required')">
          Training trials correct to advance is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="trainingTrialCorrectToAdvanceCtrl.hasError('min')">
          Training trials correct to advance must be a <strong>minimum</strong> of 0
        </mat-error>
        <mat-error *ngIf="trainingTrialCorrectToAdvanceCtrl.hasError('max')">
          Training trials correct to advance must be a <strong>maximum</strong> of 10
        </mat-error>
      </mat-form-field>

      <!--      <div formGroupName="balance" *ngIf="form.get('balance') as balanceGroup">-->
      <!--        <div class="mat-h4">Balance</div>-->

      <!--        <mat-form-field *ngIf="balanceGroup.get('same') as sameCtrl" appearance="outline">-->
      <!--          <mat-label>Same</mat-label>-->
      <!--          <input matInput min="1" max="99" type="number" formControlName="same">-->
      <!--          <mat-error *ngIf="sameCtrl.hasError('required')">-->
      <!--            Same to is <strong>required</strong>-->
      <!--          </mat-error>-->
      <!--          <mat-error *ngIf="sameCtrl.hasError('min')">-->
      <!--            Same to must be a <strong>minimum</strong> of 1-->
      <!--          </mat-error>-->
      <!--          <mat-error *ngIf="sameCtrl.hasError('max')">-->
      <!--            Same to must be a <strong>maximum</strong> of 99-->
      <!--          </mat-error>-->
      <!--        </mat-form-field>-->

      <!--        <mat-form-field *ngIf="balanceGroup.get('lessThan') as lessThanCtrl" appearance="outline">-->
      <!--          <mat-label>Less than</mat-label>-->
      <!--          <input matInput min="1" max="99" type="number" formControlName="lessThan">-->
      <!--          <mat-error *ngIf="lessThanCtrl.hasError('required')">-->
      <!--            Less than is <strong>required</strong>-->
      <!--          </mat-error>-->
      <!--          <mat-error *ngIf="lessThanCtrl.hasError('min')">-->
      <!--            Less than must be a <strong>minimum</strong> of 1-->
      <!--          </mat-error>-->
      <!--          <mat-error *ngIf="lessThanCtrl.hasError('max')">-->
      <!--            Less than must be a <strong>maximum</strong> of 99-->
      <!--          </mat-error>-->
      <!--        </mat-form-field>-->

      <!--        <mat-form-field *ngIf="balanceGroup.get('greaterThan') as greaterThanCtrl" appearance="outline">-->
      <!--          <mat-label>Greater than</mat-label>-->
      <!--          <input matInput min="1" max="99" type="number" formControlName="greaterThan">-->
      <!--          <mat-error *ngIf="greaterThanCtrl.hasError('required')">-->
      <!--            Greater than is <strong>required</strong>-->
      <!--          </mat-error>-->
      <!--          <mat-error *ngIf="greaterThanCtrl.hasError('min')">-->
      <!--            Greater than must be a <strong>minimum</strong> of 1-->
      <!--          </mat-error>-->
      <!--          <mat-error *ngIf="greaterThanCtrl.hasError('max')">-->
      <!--            Greater than must be a <strong>maximum</strong> of 99-->
      <!--          </mat-error>-->
      <!--        </mat-form-field>-->

      <!--        <mat-form-field *ngIf="balanceGroup.get('iCannotKnow') as iCannotKnowCtrl" appearance="outline">-->
      <!--          <mat-label>I Cannot Know</mat-label>-->
      <!--          <input matInput min="1" max="99" type="number" formControlName="iCannotKnow">-->
      <!--          <mat-error *ngIf="iCannotKnowCtrl.hasError('required')">-->
      <!--            I Cannot Know is <strong>required</strong>-->
      <!--          </mat-error>-->
      <!--          <mat-error *ngIf="iCannotKnowCtrl.hasError('min')">-->
      <!--            I Cannot Know must be a <strong>minimum</strong> of 1-->
      <!--          </mat-error>-->
      <!--          <mat-error *ngIf="iCannotKnowCtrl.hasError('max')">-->
      <!--            I Cannot Know must be a <strong>maximum</strong> of 99-->
      <!--          </mat-error>-->
      <!--        </mat-form-field>-->

      <!--      </div>-->
    </form>

    <mat-card-actions align="start">
      <button
        (tap)="form.valid && start()"
        [disabled]="form.invalid"
        color="primary"
        mat-button
        type="button"
      >Start
      </button>

      <button
        (tap)="form.valid && copyLink()"
        [disabled]="form.invalid"
        color="primary"
        mat-button
        type="button"
      >
        Copy Link
      </button>
    </mat-card-actions>
  </mat-card>

</div>


