<div class="d-flex justify-content-center align-items-center container min-vh-100 p-3">
  <mat-card>
    <mat-card-title>Study Conditions</mat-card-title>
    <mat-card-subtitle>Set the conditions and start now, or copy link to start later.</mat-card-subtitle>

    <form [formGroup]="form" class="form-group">

      <mat-form-field *ngIf="form.get('participantId') as participantIdCtrl" appearance="outline">
        <mat-label>Participant id</mat-label>
        <input matInput formControlName="participantId" autoFocus>
        <mat-error *ngIf="participantIdCtrl.hasError('required')">
          Participant id is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="participantIdCtrl.hasError('minlength')">
          Participant id must be a minimum of 3 characters
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="iCannotKnow">I cannot know</mat-checkbox>

      <!--      <mat-checkbox formControlName="contextualControl">Contextual control</mat-checkbox>-->

      <mat-form-field>
        <mat-label>Cue type</mat-label>
        <mat-select formControlName="cueType">
          <mat-option *ngFor="let cueType of cueTypeOptions " [value]="cueType.value">
            {{cueType.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="form.get('trialTimeoutSeconds') as trialTimeoutCtrl" appearance="outline">
        <mat-label>Trial timeout</mat-label>
        <input matInput min="1" max="1000" type="number" formControlName="trialTimeoutSeconds">
        <span matSuffix>seconds</span>
        <mat-error *ngIf="trialTimeoutCtrl.hasError('required')">
          Trial timeout is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="trialTimeoutCtrl.hasError('min')">
          Trial timeout must be a <strong>minimum</strong> of 1
        </mat-error>
        <mat-error *ngIf="trialTimeoutCtrl.hasError('max')">
          Trial timeout must be a <strong>maximum</strong> of 1000
        </mat-error>
      </mat-form-field>

      <div formGroupName="balance" *ngIf="form.get('balance') as balanceGroup">
        <div class="mat-h4">Balance</div>

        <mat-form-field *ngIf="balanceGroup.get('same') as sameCtrl" appearance="outline">
          <mat-label>Same</mat-label>
          <input matInput min="1" max="99" type="number" formControlName="same">
          <mat-error *ngIf="sameCtrl.hasError('required')">
            Same to is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="sameCtrl.hasError('min')">
            Same to must be a <strong>minimum</strong> of 1
          </mat-error>
          <mat-error *ngIf="sameCtrl.hasError('max')">
            Same to must be a <strong>maximum</strong> of 99
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="balanceGroup.get('lessThan') as lessThanCtrl" appearance="outline">
          <mat-label>Less than</mat-label>
          <input matInput min="1" max="99" type="number" formControlName="lessThan">
          <mat-error *ngIf="lessThanCtrl.hasError('required')">
            Less than is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="lessThanCtrl.hasError('min')">
            Less than must be a <strong>minimum</strong> of 1
          </mat-error>
          <mat-error *ngIf="lessThanCtrl.hasError('max')">
            Less than must be a <strong>maximum</strong> of 99
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="balanceGroup.get('greaterThan') as greaterThanCtrl" appearance="outline">
          <mat-label>Greater than</mat-label>
          <input matInput min="1" max="99" type="number" formControlName="greaterThan">
          <mat-error *ngIf="greaterThanCtrl.hasError('required')">
            Greater than is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="greaterThanCtrl.hasError('min')">
            Greater than must be a <strong>minimum</strong> of 1
          </mat-error>
          <mat-error *ngIf="greaterThanCtrl.hasError('max')">
            Greater than must be a <strong>maximum</strong> of 99
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="balanceGroup.get('iCannotKnow') as iCannotKnowCtrl" appearance="outline">
          <mat-label>I Cannot Know</mat-label>
          <input matInput min="1" max="99" type="number" formControlName="iCannotKnow">
          <mat-error *ngIf="iCannotKnowCtrl.hasError('required')">
            I Cannot Know is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="iCannotKnowCtrl.hasError('min')">
            I Cannot Know must be a <strong>minimum</strong> of 1
          </mat-error>
          <mat-error *ngIf="iCannotKnowCtrl.hasError('max')">
            I Cannot Know must be a <strong>maximum</strong> of 99
          </mat-error>
        </mat-form-field>

      </div>
    </form>

    <mat-card-actions align="start">
      <button
        (tap)="start()"
        color="primary"
        [disabled]="form.invalid"
        mat-button
        type="button"
      >Start
      </button>

      <button
        (tap)="copyLink()"
        color="primary"
        [disabled]="form.invalid"
        mat-button
        type="button"
      >
        Copy Link
      </button>
    </mat-card-actions>
  </mat-card>

</div>


